<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用</title>
    <style>
        h1 {
            text-align : center
        }

        div h2{
            border :solid black;
            font-faimly : 楷体 ;
            color : red
        }
    </style>
</head>
<body>
    <h1>网页的注册</h1>
    <form>
        <p>姓名 : <input type="text" placeholder="请输入姓名"></p>
        <p>邮箱 : <input type="email" placeholder="请输入邮箱"></p>
        <p>电话 : <input type="tel" placeholder="请输入您的电话"></p>
        <p><input type="submit" value="提交"></p>
    </form>
    <div>
        <h2>注册成功！</h2>
        <p>欢迎注册新账户</p>
        <p>希望您能在此有愉快的体验！</p>
    </div>
</body>
</html>